<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<h2><%= @task.completed %></h2>

<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<%= link_to "Back to List", tasks_path %>
<%= link_to "Edit this Task", edit_task_path %>
